In [36]:
import numpy as np
import pandas as pd
df = pd.DataFrame({"id":[1001,1002,1003,1004,1005,1006], 
                   "date":pd.date_range('20130102', periods=6),
                   "city":['Beijing ', 'SH', ' guangzhou ', 'Shenzhen', 'shanghai', 'BEIJING '],
                   "age":[23,44,54,32,34,32],
                   "category":['100-A','100-B','110-A','110-C','210-A','130-F'],
                   "price":[1200,np.nan,2133,5433,np.nan,4432]},
                   columns =['id','date','city','category','age','price'])

In [37]:
df

     id       date         city category  age   price
0  1001 2013-01-02     Beijing     100-A   23  1200.0
1  1002 2013-01-03           SH    100-B   44     NaN
2  1003 2013-01-04   guangzhou     110-A   54  2133.0
3  1004 2013-01-05     Shenzhen    110-C   32  5433.0
4  1005 2013-01-06     shanghai    210-A   34     NaN
5  1006 2013-01-07     BEIJING     130-F   32  4432.0

##数据表检查

#查看数据表的维度

In [38]:
#查看数据表维度

In [39]:
#查看数据表信息

In [40]:
#查看数据表各列格式

In [41]:
#查看单列格式

In [42]:
#检查数据空值

In [43]:
#检查特定列空值

In [44]:
#查看city列中的唯一值

In [45]:
#查看数据表的值

In [46]:
#查看列名称

In [47]:
#查看前3行数据

In [48]:
#查看最后3行

In [49]:
#删除数据表中含有空值的行

In [50]:
#使用数字0填充数据表中空值

In [51]:
#使用price均值对NA进行填充

In [52]:
#清除city字段中的字符空格

In [53]:
#city列大小写转换

In [54]:
#更改price列数据格式

In [55]:
#删除city列后出现的重复值

In [56]:
#删除city列先出现的重复值

In [57]:
#数据替换,将city列中sh替换为shanghai

## 数据预处理

In [58]:
df1=pd.DataFrame({"id":[1001,1002,1003,1004,1005,1006,1007,1008], 
                  "gender":['male','female','male','female','male','female','male','female'],
                  "pay":['Y','N','Y','Y','N','Y','N','Y',],
                  "m-point":[10,12,20,40,40,40,30,20]})

In [59]:
#数据表df和df1匹配合并-inner方式,并将结果赋值给df_inner

In [60]:
#尝试用left,right.outer方式合并数据,分别赋值给df_left,df_right,df_outer

In [61]:
#为df_inner设置索引列为id

In [62]:
#按age列进行排序

In [63]:
#按索引列排序

###数据分组

In [64]:
#使用where方法,新建一列group,如果price列的值>3000，group列显示high，否则显示low

In [65]:
#使用loc方法,新建sign列,如果price列的值>4000且city列=='beijing',则标记为1

###数据分列

In [66]:
#对category字段的值依次进行分列，并创建数据表，索引值为df_inner的索引列，列名称为category和size

In [67]:
#将完成分列后的数据表与原df_inner数据表进行匹配

##数据提取

###按标签提取(loc)

In [68]:
#按索引提取单行的数值

In [69]:
#按索引提取区域行数值

In [70]:
#重设索引

In [71]:
#设置日期date为索引

In [72]:
#提取4日2013-01-04之前的所有数据