In [12]:
import numpy as np
import pandas as pd
df = pd.DataFrame([(x,np.log10(1+1/x)) for x in range(1,11)],index = range(1,11),columns = ['number','benford rate'])
df

    number  benford rate
1        1      0.301030
2        2      0.176091
3        3      0.124939
4        4      0.096910
5        5      0.079181
6        6      0.066947
7        7      0.057992
8        8      0.051153
9        9      0.045757
10      10      0.041393

In [7]:
import pandas as pd
import numpy as np
y = [(x,np.log10(1+1/x)) for x in range(1,11)]
y

[(1, 0.3010299956639812),
 (2, 0.17609125905568124),
 (3, 0.12493873660829993),
 (4, 0.09691001300805642),
 (5, 0.079181246047624818),
 (6, 0.066946789630613221),
 (7, 0.057991946977686733),
 (8, 0.051152522447381291),
 (9, 0.045757490560675143),
 (10, 0.041392685158225077)]